body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  background-color: #fafafa;
  letter-spacing: -0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font-family: inherit;
  color: inherit;
}

button {
  padding: 0;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
