.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ====================Header==================== */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 20px 0 14px;
}

.header-logo-link {
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  gap: 4px;
  align-items: center;
}

.header-logo-accent-word {
  font-style: italic;
}

.header-mob-menu-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  width: 28px;
  height: 28px;
}

.header-nav {
  display: none;
}

.header-social-links-list {
  display: none;
}

/* ====================Hero==================== */

.hero {
  padding-bottom: 80px;
}

.hero-content-wrapper {
  border-radius: 30px;
  overflow: hidden;
  padding: 395px 20px 20px 20px;
  background: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url("../assets/images/hero-bg-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 32px;
}

.hero-buttons-wrapper {
  display: flex;
  flex-direction: column;
}

.hero-button-link-wrapper {
  display: flex;
  gap: 14px;
  margin-bottom: 32px;
}

.hero-buy-btn {
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  background-color: #fd9222;
  padding: 12px 28px;
  transition: color 200ms ease, background-color 200ms ease;
  letter-spacing: 0;
}

.hero-link {
  display: inline-block;
  font-weight: 600;
  color: #ffffff;
  padding: 12px 28px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 100px;
  transition: color 200ms ease, border 200ms ease;
  letter-spacing: 0;
}

.hero-buy-btn:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-link:hover {
  color: #fd9222;
  border: 1px solid #fd9222;
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
  border: none;
  background-color: transparent;
  display: flex;
  gap: 12px;
  align-items: center;
  transition: color 200ms ease;
  letter-spacing: -0.03em;
}

.arrow-icon-container {
  display: inline-flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 200ms ease;
}

.arrow-icon {
  fill: #fd9222;
  transition: fill 200ms ease;
}

.hero-scroll-btn:hover {
  color: #fd9222;
}

.hero-scroll-btn:hover > .arrow-icon-container {
  background-color: #fd9222;
  fill: #ffffff;
}

.hero-scroll-btn:hover .arrow-icon {
  fill: #ffffff;
}

/* ====================Features==================== */

.features {
  padding-bottom: 80px;
}

.features-content-wrapper {
  background-color: #1e1823;
  padding: 20px 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
}

.feature-item-title {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0;
  margin-bottom: 18px;
}

.feature-item-text {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: -0.02em;
  font-weight: 400;
}

/* ====================Ingredients==================== */

.ingredients {
  padding-bottom: 80px;
}

.ingredients-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 284px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

.ingredients-title-accent {
  color: #fd9222;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ingredient-item {
  padding: 32px 28px 28px;
  border-radius: 15px;
  position: relative;
}

.ingredient-item-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: transparent;
  stroke: #fafafa;
}

.ingredient-item-img {
  margin: 0 auto 16px;
}

.ingredients-item-title {
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingredient-item:nth-child(1) {
  background-color: #fd9222;
  color: #ffffff;
}

.ingredient-item:nth-child(2),
.ingredient-item:nth-child(4) {
  border: 1px solid #fd9222;
}

.ingredient-item:nth-child(2) .ingredient-item-icon,
.ingredient-item:nth-child(4) .ingredient-item-icon {
  stroke: #fd9222;
}

.ingredient-item:nth-child(3) {
  background-color: #1e1823;
  color: #ffffff;
}

.ingredient-item:nth-child(n + 5) {
  display: none;
}
