.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title-accent {
  color: #fd9222;
}

/* ====================Header==================== */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 20px 0 14px;
}

.header-logo-link {
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  gap: 4px;
  align-items: center;
}

.header-logo-accent-word {
  font-style: italic;
}

.header-mob-menu-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  width: 28px;
  height: 28px;
}

.header-nav {
  display: none;
}

.header-social-links-list {
  display: none;
}

/* ====================Hero==================== */

.hero {
  padding-bottom: 80px;
}

.hero-content-wrapper {
  border-radius: 30px;
  overflow: hidden;
  padding: 395px 20px 20px 20px;
  background: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url("../assets/images/hero-bg-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 32px;
}

.hero-buttons-wrapper {
  display: flex;
  flex-direction: column;
}

.hero-button-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 32px;
}

.hero-buy-btn {
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  background-color: #fd9222;
  padding: 12px 28px;
  transition: color 200ms ease, background-color 200ms ease;
  letter-spacing: 0;
}

.hero-link {
  display: inline-block;
  font-weight: 600;
  color: #ffffff;
  padding: 12px 28px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 100px;
  transition: color 200ms ease, border 200ms ease;
  letter-spacing: 0;
}

.hero-buy-btn:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-link:hover {
  color: #fd9222;
  border: 1px solid #fd9222;
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
  border: none;
  background-color: transparent;
  display: flex;
  gap: 12px;
  align-items: center;
  transition: color 200ms ease;
  letter-spacing: -0.03em;
}

.arrow-icon-container {
  display: inline-flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 200ms ease;
}

.arrow-icon {
  fill: #fd9222;
  transition: fill 200ms ease;
}

.hero-scroll-btn:hover {
  color: #fd9222;
}

.hero-scroll-btn:hover > .arrow-icon-container {
  background-color: #fd9222;
  fill: #ffffff;
}

.hero-scroll-btn:hover .arrow-icon {
  fill: #ffffff;
}

/* ====================Features==================== */

.features {
  padding-bottom: 80px;
}

.features-content-wrapper {
  background-color: #1e1823;
  padding: 20px 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
}

.feature-item-title {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0;
  margin-bottom: 18px;
}

.feature-item-text {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: -0.02em;
  font-weight: 400;
}

/* ====================Ingredients==================== */

.ingredients {
  padding-bottom: 80px;
}

.ingredients-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 284px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
  color: #111111;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ingredient-item {
  padding: 32px 28px 28px;
  border-radius: 15px;
  position: relative;
}

.ingredient-item-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: transparent;
  stroke: #fafafa;
}

.ingredient-item-img {
  margin: 0 auto 16px;
}

.ingredients-item-title {
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingredient-item:nth-child(1) {
  background-color: #fd9222;
  color: #ffffff;
}

.ingredient-item:nth-child(2),
.ingredient-item:nth-child(4) {
  color: #111111;
  border: 1px solid #fd9222;
}

.ingredient-item:nth-child(2) .ingredient-item-icon,
.ingredient-item:nth-child(4) .ingredient-item-icon {
  stroke: #fd9222;
}

.ingredient-item:nth-child(3) {
  background-color: #1e1823;
  color: #ffffff;
}

.ingredient-item:nth-child(n + 5) {
  display: none;
}

/* ====================How its made==================== */

.how-its-made {
  padding-bottom: 80px;
}

.how-its-made-title {
  color: #111111;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.how-its-made-thumb {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.how-its-made-play-icon {
  stroke: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.how-its-made-instructions-wrapper {
  background-color: #ffffff;
  padding: 20px 14px;
  border-radius: 15px;
}

.how-its-made-list-title {
  color: #111111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
}

.how-its-made-instruction-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.instruction-item {
  position: relative;
  padding-left: 16px;
}

.instruction-item::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  position: absolute;
  left: 0;
  border-radius: 50%;
  border: 1px solid #eceded;
  top: 5px;
}

.instruction-text {
  color: #111111;
  letter-spacing: -0.02em;
}

/* ====================Products==================== */

.products {
  padding-bottom: 80px;
}

.products-title {
  color: #111111;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.product-item {
  border-radius: 15px;
  background-color: #ffffff;
  padding: 32px 50px;
}

.product-item-img {
  margin-bottom: 8px;
}

.product-item-title {
  color: #111111;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2px;
}

.product-item-name {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  margin-bottom: 18px;
}

.product-item-price-btn {
  display: block;
  color: #111111;
  font-weight: 600;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  margin: 0 auto;
}

/* ====================Top sellers==================== */

.top-sellers {
  padding-bottom: 80px;
}

.top-sellers-title {
  color: #111111;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.top-sellers-list {
}

.top-sellers-list > *:not(:first-child) {
  display: none;
}

.top-seller-item {
  border-radius: 15px;
}

.top-seller-item-thumb {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.top-sellers-item-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  backdrop-filter: blur(6px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  padding: 0 20px;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 350ms ease-in-out;
}

.top-seller-item-thumb:hover > .top-sellers-item-overlay {
  transform: translateY(0);
}

.top-sellers-item-overlay-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.top-sellers-item-text-container {
  background-color: #ffffff;
  padding: 24px 0;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
}

.top-seller-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
}

/* ====================Top sellers==================== */

.reviews {
  padding-bottom: 80px;
}

.reviews-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  margin-bottom: 74px;
}

.reviews-list > *:not(:first-child) {
  display: none;
}

.reviews-list {
  margin-bottom: 32px;
}

.review-item {
  background-color: #ffffff;
  padding-top: 56px;
  padding-bottom: 42px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.review-item-img-thumb {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.review-item-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
  margin-bottom: 24px;
}

.review-item-text-review {
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  max-width: 299px;
}

.leave-review-btn {
  display: block;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #111111;
  padding: 12px 28px;
  background-color: transparent;
  border: 1px solid #fd9222;
  border-radius: 100px;
  margin: 0 auto;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.leave-review-btn:hover {
  color: #ffffff;
  background-color: #fd9222;
}

/* ====================Footer==================== */

.footer {
  background-color: #1e1823;
  padding: 32px 0;
}

.footer-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 32px;
}

.footer-social-links-address-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  margin-bottom: 65px;
  position: relative;
}

.footer-social-links-address-wrapper::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: -32px;
}

.footer-social-links-title {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 14px;
}

.footer-social-links-list {
  display: flex;
  gap: 14px;
}

.footer-social-links-item {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: border-color 150ms ease-in-out;
}

.footer-social-links-item:hover {
  border-color: #fd9222;
}

.footer-social-links-item:hover .social-link-icon {
  fill: #fd9222;
}

.footer-social-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 150ms ease-in-out;
}

.social-link-icon {
  fill: #ffffff;
}

.footer-address-title {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 14px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #ffffff;
  font-style: normal;
}

.footer-nav-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.footer-form-email-input {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding: 14px 18px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  transition: outline 150ms ease-in-out;
}

.footer-form-email-input:hover,
.footer-form-email-input:focus {
  outline: 1px solid #ffffff;
}

.footer-form-btn-subscribe {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  background-color: #fd9222;
  padding: 14px 24px;
  border: none;
  border-radius: 100px;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.footer-form-btn-subscribe:hover,
.footer-form-btn-subscribe:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
